/*-----|| webfonts ||----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/


/*-----|| custom global definitions ||-----------------------------------------------*/
/*-----------------------------------------------------------------------------------*/


body {
    // margin: 0px;
    // padding: 0px;
    // background: $cl-primary;
    // color: $white;
}

*:focus {
outline: none;
}
