.SB_MOD_SB_main {
    font-family: $font-reg;
    font-size: 14px;
	padding-left: 10%;
	padding-right: 10%;
	label {
		display: block;
	}
	input[type=checkbox] {
		display: block;
		float: left;
        width: 15px;
        height: 15px;
        @include border-right-radius(0px);
        border: none;
	}
    .SB_settings {
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 15px;
        &:last-of-type {
            border-bottom: 0px;
        }
        p {
            margin-bottom: 10px;
            display: block;
        }
        .SB_input {
            display: block;
            @include clearfix;
        }
    }
}

