<button type="{{btn-type}}" class="JM_OBJ_ui-btn JM_OBJ_ext-cl-default JM_OBJ_ext-icon-right">
    <i class="JM_ui-icon JM_ui-icon-type-arrow-right"></i>
    <span class="JM_OBJ_def-text">{{text}}</span>
</button>
<!-- an anker tag can also be used depending of the use case -->
<!-- <a href="#" class="JM_OBJ_ui-btn JM_OBJ_ext-cl-default JM_OBJ-ext-icon-right">
    <i class="JM_ui-icon JM_ui-icon-type-arrow-r"></i>
    <span class="JM_OBJ_def-text">{{text}}</span>
</a> -->