/*
Error: File to import not found or unreadable: ./node_modules/susy/sass/susy.
       Load paths:
         /Users/philipp.bergmann/WWW/JOBS/GIT/00000_PB/solebots/solebot_extension/gulp/dev/assets/sass
         /Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/bourbon
         /Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/susy/sass
         Sass::Globbing::Importer
        on line 12 of /Users/philipp.bergmann/WWW/JOBS/GIT/00000_PB/solebots/solebot_extension/gulp/dev/assets/sass/global.scss

7:  * @date:________________fullbuild: //@echo CHANGE_DATE
8:  *\/
9: 
10: // Includes
11: @import "bourbon";
12: @import "./node_modules/susy/sass/susy";
13: @import "mixins/INC_mixins";
14: @import "variables/INC_variables";
15: 
16: /*-----|| @import: basic settings ||-------------------------------------------------*\/
17: /*-----------------------------------------------------------------------------------*\/

Backtrace:
/Users/philipp.bergmann/WWW/JOBS/GIT/00000_PB/solebots/solebot_extension/gulp/dev/assets/sass/global.scss:12
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:45:in `import'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:20:in `render'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:420:in `run'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ./node_modules/susy/sass/susy.\A        Load paths:\A          /Users/philipp.bergmann/WWW/JOBS/GIT/00000_PB/solebots/solebot_extension/gulp/dev/assets/sass\A          /Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/bourbon\A          /Users/philipp.bergmann/Apps/CodeKit.app/Contents/Resources/engines/susy/sass\A          Sass::Globbing::Importer\A         on line 12 of /Users/philipp.bergmann/WWW/JOBS/GIT/00000_PB/solebots/solebot_extension/gulp/dev/assets/sass/global.scss\A \A 7:  * @date:________________fullbuild: //@echo CHANGE_DATE\A 8:  */\A 9: \A 10: // Includes\A 11: @import \"bourbon\";\A 12: @import \"./node_modules/susy/sass/susy\";\A 13: @import \"mixins/INC_mixins\";\A 14: @import \"variables/INC_variables\";\A 15: \A 16: /*-----|| @import: basic settings ||-------------------------------------------------*/\A 17: /*-----------------------------------------------------------------------------------*/"; }
