.products {
	&.view-all {
		#header {
		margin: 0px !important;
		height: 100px !important;
		}

		#wrap {
			height: auto !important;
			overflow: visible !important;
			padding-left: 0px !important;
			padding-right: 0px !important;
			width: 100% !important;
		}

		#container {
			height: auto !important;
			overflow-x: auto !important;
		}
		.sold_out_tag {
			border: 2px solid red !important;
			color: red !important;
			display: block !important;
		}
		.turbolink_scroller {
			article {
				margin: 15px !important;
			}
		}
		.sidebar {
			position: relative !important;
			width: auto !important;
			@include clearfix;
			li {
				float: left !important;
				font-size: 20px !important;
				margin-right: 20px !important;
			}
		}
		#nav-categories {
			@include clearfix;
		}
	}
}