/**
 * global grid objects
 */

body {
    // delete in production!!!!
    &:before {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99999;
        font-size: 12px;
        color: #FFF;
        background-color: #003366;
        padding: 0 10px;
    }
}

/*-----|| 12 column grid ||-----*/
    .JM_OBJ_grid-srd {
        //max-width: 1280px;
        margin: 0 auto;
    }
    .JM_OBJ_grid-cont {
        @include container();
        //padding: 0 $bp-dk-l-pad;
        .JM_OBJ_grid-cont {
            max-width: auto;
            padding: 0;
        }
        > .JM_col {
            position: relative;
            min-height: 1px;
            @include span(1); /* define number of columns (e.g. 12/1) == 12 columns */
            &:first-child {
                margin-left: 0;
            }
        }
        
        &.JM_ext-1 {
            > .JM_col {
                @include full;
            }
        }
        &.JM_ext-7 {
            > .JM_col {
                @include span(7);
                &:first-child {
                    @include first;
                }
            }
        }
        &.JM_ext-6 {
            > .JM_col {
                @include span(6);
                &:first-child {
                    @include first;
                }
            }
        }
        &.JM_ext-3 {
            > .JM_col {
                @include span(3);
                &:first-child {
                    @include first;
                }
            }
        }
        &.JM_ext-2 {
            > .JM_col {
                @include span(2);
                &:first-child {
                    @include first;
                }
            }
        }
        &.JM_ext-4 {
            > .JM_col {
                @include span(4);
                &:first-child {
                    @include first;
                }
            }
        }
        &.JM_ext-4-8 {
            > .JM_col {
                @include span(8);
                &:first-child {
                    @include span(first 4);
                }
            }
        }
        &.JM_ext-8-4 {
            > .JM_col {
                @include span(4);
                &:first-child {
                    @include span(first 8);
                }
            }
        }
        &.JM_ext-10-2 {
            > .JM_col {
                @include span(2);
                &:first-child {
                    @include span(first 10);
                }
            }
        }
        &.JM_ext-3-6-3 {
            > .JM_col {
                @include span(6);
                &:first-child {
                    @include span(first 3);
                }
                &:last-child {
                    @include span(3);
                }
            }
        }
        &.JM_test {
            background-color: pink;
            margin-bottom: 20px;
            > .JM_col {
                height: 100px;
                background-color: $cl-primary;

            }
            @for $i from 1 through 12 {
                > .JM_col:nth-child(#{$i}) { 
                    background-color: lighten($cl-primary, 10% * ($i/3))
                }
            }
        }
        
    }
    /**
     * breakpoint for smartphone devices fluid
     */
    @include breakpoint(sm) {
        body {
            &:before {
                content: "smartphone"; // don't change name 'cause of JS dependency!!
            }
        }
    }
    /**
     * breakpoint for tablet devices fluid
     */
    @include breakpoint(tb) {
        body {
            &:before {
                content: "tablet"; // don't change name 'cause of JS dependency!!
            }
        }
    }
    /**
     * breakpoint for desktop devices fluid
     */
    @include breakpoint(dk) {
        body {
            &:before {
                content: "desktop"; // don't change name 'cause of JS dependency!!
            }
        }
    }
    /**
     * breakpoint for desktop devices large fluid
     */
    @include breakpoint(dk-l) {
        body {
            &:before {
                content: "desktop-l"; // don't change name 'cause of JS dependency!!
            }
        }
    }