<header class="SB_MOD_NM_1-0-header" role="banner">
	<div class="SB_logo-ct">
		<img class="SB_logo" src="../assets/img/ci/solebots_logo.png" alt="">
	</div>

    <div class="SB_MOD_SB_main">
	
	TEST
    	
	</div>
</header>