        <!-- START include external javascript -->
        <script src="../assets/js/<!-- @echo PROJECT_NAMESPACE-->global.js"></script>
        <!-- END include external javascript -->

    </body>
</html>
