<ol class="JM_OBJ_text-list-o">
    <li>Lorem ipsum dolor 1</li>
    <li>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Ad dolore hic illo optio error, necessitatibus.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, veritatis.</li>
    <li><a href="#">Consectetur adipisicing elit</a></li>
    <li>Ad dolore hic illo optio error
        <ol>
            <li>Lorem ipsum 1</li>
            <li>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Ad dolore hic illo optio error, necessitatibus.</li>
            <li>Lorme ipsum 3</li>
        </ol>
    </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
</ol>