.SB_MOD_NM_1-0-header {
	@include gradient;
	padding: span(1.5);
	@include clearfix;
	min-height: 290px;
	max-width: 260px;
	position: relative;
	transition: all 1s ease-in-out;
	&.SB_st-error {
		@include gradient-error;
	}
	&.SB_st-options {
		@include gradient-options;
	}
	.JM_ct {
		@include clearfix;
	}
	.SB_burger-ct {
		position: relative;
		width: 30px;
		height: 30px;
		float: left;
		margin-top: 2px;
		margin-left: -70px;
		transition: all 800ms ease-in-out;
		&:hover {
			cursor: pointer;
		}
		&.SB_st-logged-in {
			margin-left: 0px;
		}
	}
	
	.SB_logo-ct {
		max-width: span(4.25);
		position: absolute;
	    left: 86px;
	    top: 24px;
		.SB_logo {
			max-width: 100%;
		}
	}
	.SB_burger-item {
		height: 4px;
		width: 28px;
		margin-bottom: 5px;
		border-radius: 2px;
		transition: all 300ms ease-in-out;
		background: $white;
	}
	

	.SB_menu {
		clear: both;
		width: span(10);
		margin-left: -300px;
		margin-top: 35px;
		position: absolute;
		transition: all 800ms ease-in-out;
		&.SB_on-canvas {
			margin-left: 0px;
		}

		.SB_button-ct {
			border-top: 1px solid rgba(255, 255, 255, 0.5);
			text-align: center;
			&:hover {
				cursor: pointer;
				button {
					color: #fe6927;
				}
			}
			button {
				margin: 0 auto;
				text-align: center;
				background: transparent;
				border: none;
				font-family: $font-semibold;
				letter-spacing: 0.8px;
				color: $white;
				font-size: 16px;
				width: 100%;
				padding-top:15px;
				padding-bottom: 15px;
			}	
		}
		&.SB_st-visible {
			margin-left: span(1);
		}
	}
	.SB_load-overlay {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.7);
		opacity: 0;
		z-index: -100;
		&.SB_load-visible {
			animation: indexFadeIn 800ms normal forwards ease-in-out;
		}
		&.SB_load-invisible {
			animation: indexFadeOut 800ms normal forwards ease-in-out;
		}
		article{
		  background:rgb(255,255,255);
		  width:50px;
		  height:50px;
		  left:50%;
		  top:50%;
		  margin-top:-25px;
		  margin-left:-25px;
		  position:absolute;
		  border-radius:50%;
		  z-index:+5;
		}

		article:before {
		  display:block;
		  content:"";
		  width:34px;
		  height:34px;
		  left:50%;
		  top:50%;
		  position:absolute;
		  margin-top:-17px;
		  margin-left:-17px;
		  border-radius:50%;
		}

		article > div {
		  width:49.5px;
		  height:49.5px;
		  left:50%;
		  top:50%;
		  position:absolute;
		  border-radius:50%;
		  animation: .5s rot infinite linear 0.1s;
		    -moz-animation: .5s rot infinite linear 0.1s;
		  -webkit-animation: .5s rot infinite linear 0.1s; 
		  margin:-24.75px 0px 0px -24.75px; 
		  z-index:-3;
		}

		article > div > span {
		  background:rgb(255,255,255);
		  width:42px;
		  height:42px;
		  display:block;
		  border-radius:100%;
		  position:absolute;
		  margin:0px 0px 0px 0px;
		  box-shadow:0px 0px 10px 0px white;
		  -moz-box-shadow:0px 0px 10px 0px white;
		  -webkit-box-shadow:0px 0px 10px 0px white;
		}

		@-webkit-keyframes rot {
		  100% {
		    -webkit-transform:rotate(360deg);
		    transform:rotate(360deg);
		  }
		}

		@keyframes rot {
		  100% {
		    -webkit-transform:rotate(360deg);
		    transform:rotate(360deg);
		  }
		}
	}

	@-webkit-keyframes indexFadeIn {
	  0% {opacity: 0; }
	  5% {z-index: 100; opacity:0;}
	  100% {opacity: 1;z-index: 100;}
	}

	@-webkit-keyframes indexFadeOut {
	  0% {opacity: 1; z-index: 100;}
	  5% {z-index: 100; opacity:1;}
	  99% {opacity:0; z-index: 100;}
	  100% {opacity:0; z-index: -100;}
	}


}



// WEBSITE TRANSFORM
	
.home {
	background: url('https://enigmaticnomad13.files.wordpress.com/2016/02/supreme-spring-summer-must-buy-1.jpg') !important;
	background-position: top left !important;
	background-size: cover !important;

	.wrap {
		margin: 0 !important;
	}
	
	nav ul li a span {
		color: black !important;
		font-family: 'bebasregular';
		font-size: 25px;
	}

	nav {
		margin: 0 !important;
		padding: 0px !important;
		padding-left: 30px !important;
	}
	#background-image-container {
		display: none !important;
	}
	#header {
		border: 1px solid red;
		height: auto !important;
		hgroup {
			position: static !important;
			margin-left: auto !important;
			width: auto !important;
		}
		time {
			display: none !important;
		}
	}

	 .logo {
		overflow: visible !important;
		height: auto !important;
		background: none !important;
		margin: 30px !important;
		&:before {
		    width: 0 !important;
		    height: 43px !important
		}
		a {
			padding: 0px !important;
		}
	}
}

