#= include includes/_INC_prepend-header.html

    <body>

        <div class="JM_OBJ_area-dc">

            <a id="top"></a>

             <!-- START module NM_1-0-header -->
            <use src="NM_1-0-header/templates/_MOD_NM_1-0-header" data-context="{}" />
            <!-- END module NM_1-0-header -->

            <!-- START area content -->
            <main class="JM_OBJ_area-ct" role="main">
                <use src="SB_main/templates/_MOD_SB_main" data-context="{}" />
            </main>
            <!-- END area content -->

            <!-- START module NM_4-0-footer -->
            <use src="NM_4-0-footer/templates/_MOD_NM_4-0-footer" data-context="{}" />
            <!-- END module NM_4-0-footer -->

        </div>
        <!-- END document surround -->

#= include includes/_INC_append-footer.html
