/**
 * global ui objects
 */

/*-----|| icons ||-----*/
.JM_ui-icon-type-arrow-left {
    background: red; // just for testing!!!!
}
.JM_ui-icon-type-arrow-right {
    background: blue; // just for testing!!!!
}

/*-----|| buttons ||-----*/
.JM_OBJ_ui-btn {
    position: relative;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    line-height: 1.333;
    min-height: 40px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 0;
    border:2px solid;
    text-decoration: none;
    @include font-size($font-s);
    @include transition(color 200ms, border-color 200ms, background-color 200ms);
    // text definitions
    .JM_OBJ_def-text {
        display: inline-block;
        text-align: center;
        position: relative;
        top: 50%;
        font-family: $font-reg;
        @include transform(translateY(0));
    }

    // extended: colors
    &.JM_OBJ_ext-cl-default { // default
        background-color: #fff;
        border-color: $cl-ln;
        color: $cl-ln;
        &:hover, 
        &:focus {
            border-color: $cl-st-hover;
            color: $cl-st-hover;
        }
        &:active,
        &.JM_st-active {
            border-color: $cl-st-active;
            color: $cl-st-active;
        }
    }
    &.JM_OBJ_ext-cl-cta { // call to action
        background-color: $cl-ln;
        border-color: $cl-ln;
        color: #fff;
        &:hover, 
        &:focus {
            background-color: $cl-st-hover;
            border-color: $cl-st-hover;
        }
        &:active,
        &.JM_st-active {
            background-color: $cl-st-active;
            border-color: $cl-st-active;
        }
    }

    // small one
    &.JM_OBJ-ext-small {
        padding: 3px 10px 2px 10px;
        min-height: 30px;
    }

    // extended: left/right
    &.JM_OBJ_ext-right {
        float:right;
    }

    &.JM_OBJ_ext-left {
        float:left;
    }
    
    // extended: button with icons (left,right)
    &.JM_OBJ_ext-icon-left,
    &.JM_OBJ_ext-icon-right {
        .JM_ui-icon {
            position: absolute;
            width: 14px;
            height: 14px;
            top: 50%;
            @include transform(translateY(-50%));
        }
    }
    &.JM_OBJ_ext-icon-left {
        padding-left: 50px;
        .JM_ui-icon {
            left: 20px;
        }
    }
    &.JM_OBJ_ext-icon-right {
        padding-right: 50px;
        .JM_ui-icon {
            right: 20px;
        }
    }
    
}