/*-----|| webfonts ||----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/


/*-----|| custom global definitions ||-----------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

html {
    font-family: $font-reg !important;
    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    position: relative;
    margin:0;
    padding: 0;
    &.noscroll {
        width:100%;
        height:100%;
        height:100vh;
        overflow:hidden;
    }
}

.JM_OBJ_area-dc * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, input, button { /* prevent zooming */
    -ms-touch-action: none !important;
}

a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active {
    outline: 0;
    cursor:pointer;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    display: block;
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

 /* prevent browser custom appearance */
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    -webkit-appearance: none;
    -webkit-border-radius:0;
    border-radius:0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * clearfix
 */
.clearfix:before,
.clearfix:after { /* clearfix-method without additional markup. needs surrounding element. */
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

.JM_no-wrap {
    white-space: nowrap;
}
