<div class="SB_MOD_SB_main">
	<div class="SB_settings">
		<p>Restock settings:</p>
		<div class="SB_input">
			<input type="checkbox" name="checkbox" id="checkbox_id" value="value"><label for="checkbox_id">Auto Open-Tab</label>
		</div>
	</div>
	<div class="SB_settings">
		<p>Website optimization:</p>
		<div class="SB_input"><input type="checkbox" name="checkbox" id="hide_sold_out" value="value"><label for="hide_sold_out">Hide Sold-Out Items</label></div>
		<div class="SB_input"><input type="checkbox" name="checkbox" id="big_picture" value="value"><label for="big_picture">Big Picture on Product Page</label></div>
		<div class="SB_input"><input type="checkbox" name="checkbox" id="big_grid" value="value"><label for="big_grid">Big Product Grid</label></div>
	</div>
</div>